html {
    user-select: none;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

div {
    position: fixed;
    top: 0;
    left: 0;
}

rect.touch-overlay {
    fill: none;
}

g.card > text {
    text-anchor: middle;
}

g.card > rect {
    rx: 2;
    ry: 2;
    stroke: gray;
}

g.card.card-close > rect {
    fill: #9999ff;
}

g.card.card-open > rect {
    fill: #fff;
}

g.suit-Club, g.suit-Spade > text {
    fill: black;
}

g.suit-Heart, g.suit-Diamond > text {
    fill: red;
}

rect.holder {
    fill: none;
    stroke: gray;
    rx: 2;
    ry: 2;
}