.wallapatta pre {
  word-wrap: break-word;
}
.wallapatta p {
  margin: 0 0 1.5em;
}
.wallapatta .sidenote {
  font-size: 0.8em;
  padding-bottom: 20px;
}
.wallapatta .image-container {
  margin: 10px 0px;
}
.wallapatta .image-container img {
  max-width: 100%;
}
.wallapatta h1.title {
  font-weight: 300;
  font-size: 48px;
}
.wallapatta .special {
  background: #e0e0e0;
  padding: 10px;
  border-left: 10px solid #aaa;
  margin-bottom: 1.5em;
}
@media print {
  .wallapatta a[href]:after {
    content: " (" attr(href) ")";
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
    color: #777;
    word-wrap: break-word;
  }
}
.wallapatta-container {
  max-width: 750px;
}
.wallapatta-print {
  max-width: 5000px;
  width: 170mm;
  margin: 0;
}
@media print {
  @page {
    size: A4;
    margin-top: 10mm;
  }
}
@page {
  size: A4;
}
@media print {
  /* ... the rest of the rules ... */
}
