.docscript {
  font-family: "Open Sans", sans-serif;
  color: #444;
  line-height: 1.5;
}
.docscript h1,
.docscript h2,
.docscript h3,
.docscript h4,
.docscript h5,
.docscript h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
}
.docscript h1,
.docscript h2 {
  margin-top: 40px;
}
.docscript h3 {
  margin-top: 30px;
}
.docscript h4,
.docscript h5,
.docscript h6 {
  margin-top: 25px;
}
.docscript ol,
.docscript ul {
  padding-left: 20px;
}
.docscript .sidenote {
  font-size: 0.8em;
  padding-bottom: 20px;
}
.docscript .fill {
  width: 100%;
}
.docscript .image-container {
  margin: 10px 0px;
}
.docscript .image-container img {
  max-width: 100%;
}
.docscript .special {
  background: #e0e0e0;
  padding: 10px;
}
.CodeMirror {
  background: #dedede;
  margin-bottom: 20px;
  font-size: 0.9em;
}
.error {
  font-weight: bold;
  font-family: monospace;
  color: #ff4444;
}
.preview {
  overflow-y: scroll;
}
.docscript-container {
  max-width: 750px;
}
